

@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model == null)
{
    <h2>
        Sorry Not Found !!
    </h2>
}
else
{
    <h1>@Model.Name</h1>
    <ul>
        <li> Genre: @Model.MovieGenre</li>
        <li>Release Date: @Model.ReleaseDate.ToLongDateString()</li>
        <li>Date Added: @Model.DateAdded.ToLongDateString()</li>
        <li>Number in Stock: @Model.NumbersInStock</li>
    </ul>
}


